.home {
  padding: 56px 0px;
  display: flex;
  flex-direction: column;
  background-color: #0d2438;
}

.signupText {
  color: white !important;
  width: 70vw !important;
  border: solid 2.5px;
}
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup p {
  font-size: 0.8rem;
  color: rgb(138, 227, 162);
  font-weight: 600;
}
.image {
  display: flex;
}
.imagectr {
  background-image: url("../../assets/Depositphotos_11378931_s-2019.jpg");
  max-width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.footer {
  height: 20vh;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  padding-top: 5px;
  margin-top: 10px;
}

.footer p {
  font-size: 0.6rem;
  color: grey;
  font-weight: bold;
}
.footer a {
  color: whitesmoke;
}
.social {
  display: grid;
}

.overlay {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.overlay p {
  color: whitesmoke;
  opacity: 0.8;
  font-weight: 400;
}

.signupbtn {
  background-color: #24a0ed !important;
  color: white !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  margin-top: 10px;
  width: 70vw;
  height: 50px;
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.priceCard {
  width: 100%;
  height: 50vh;
}

.exampledealimage {
  width: 90vw;
  height: 90vw;
  object-fit: contain;
}

.googleLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.priceCard h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.priceCard span {
  font-size: small;
}
@media only screen and (min-device-width: 750px) and (max-device-width: 1605px) {
  .contenthow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0px 20px 0px 20px;
    justify-content: space-evenly;
  }

  .exampledealimage {
    width: 20vw;
    height: 20vw;
    object-fit: contain;
  }

  .pricehow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0px 20px 0px 20px;
    align-items: center;
    justify-items: center;
  }
  .howcard {
    width: 100%;
    height: 30vh;
  }
}

@media only screen and (min-device-width: 650px) and (max-device-width: 1024px) {
  .contenthow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0px 20px 0px 20px;
  }
  .howcard {
    width: 100%;
    height: 25vh;
  }
  .pricehow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0px 20px 0px 20px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
  .contenthow {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 0px 20px 0px 20px;
  }
  .pricehow {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 0px 20px 0px 20px;
  }
  .howcard {
    width: 100%;
    height: 25vh;
  }
  .imagectr {
    background-image: url("../../assets/Depositphotos_11378931_s-2019.jpg");
    max-width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: contain;
    /* Add the blur effect */
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
}
