.home {
  background-color: rgb(29, 47, 66);
  color: whitesmoke;
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.my-editor {
  width: 80vw;
}

.toolbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardhow {
  font-size: 0.7 rem;
}

.toolbtn {
  padding: 5px;
}

.loader {
  position: fixed;
  z-index: 200;
}

.home h1 {
  font-size: 1.5rem;
}

.home p {
  font-size: 1rem;
}

.deal {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(127, 119, 175);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.deal p {
  font-size: 0.7rem;
}

.deal span {
  color: red;
  font-size: 1 rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.publishcontainer {
  margin: 5px 5px 5px 5px;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}
.publishbtn {
  width: 100%;
  background: teal;
}

.notesarea {
  width: 100%;
}

.modal {
  background: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 90vw;
  height: 85vh;
  overflow-y: scroll;
}

.modal div {
  margin: 5px;
}

.publishbtnctr {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.premium {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
