.userHome {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 20, 20);
  color: beige;
  text-align: center;
}

.dealArea {
  margin-top: 10px;
  background-color: #0d2438;
}

.dealCard {
  /* Add shadows to create the "card" effect */
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgb(72, 151, 230);
  transition: 0.3s;
  border-radius: 5px;
  color: whitesmoke;
  height: 30vh;
  margin: 5px;
  border: solid 2px gainsboro;
  background-color: #1f2833;
  padding: 10px;
}

.premium {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 100px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0px 0px 0 0;
}
.premium span {
  padding: 3px 0px 0px 5px;
}
.pastdeal {
  color: red;
  font-weight: bolder;
  font-size: 1.2rem;
}

.dealCard img {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

.dealoverlay {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: #00000060;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dealoverlay p {
  color: whitesmoke;
  font-size: 0.9rem;
}
