.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0;
  background: #1f364d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: grid;
  grid-template-columns: [name] 30% [logo] 1fr [menu] 20%;
  grid-gap: 10px;
  align-items: center;
  justify-items: start;
}

.header img {
  grid-column: name;
  height: 55px;
  width: 120px;
  object-fit: fill;
}

@media only screen and (min-device-width: 650px) and (max-device-width: 1605px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    padding: 0;
    background: #1f364d;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: grid;
    grid-template-columns: [name] 1fr [logo] 1fr [menu] 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
  }
  .header img {
    grid-column: logo;
    height: 55px;
    width: 120px;
    object-fit: fill;
  }
}

.header nav {
  grid-column: menu;
  font-size: 100%;
}

.header nav a {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #fff;
  will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
  background: rgba(0, 0, 0, 0.2);
}

.header nav a.active {
  background: rgba(0, 0, 0, 0.4);
}
